// Change field type icon
.change-field-type {
  display: inline-block;
  vertical-align: middle;
  margin-left: .5em;
  color: $medium-grey;

  &:hover {
    cursor: pointer;
    color: $dark-grey;
  }

}

// Change field type modal
.change-field-type--form {

  > .column.form {
    margin-bottom: 2rem;
    & ~ .form-field { margin-bottom: $v-space; }
  }

  > .form-field > label.label, span.label {
    margin: 0 0 1em 0;
    padding: 0;
  }

  > .button {
    display: flex;
    text-align: center;
    justify-content: center;
  }

}
