nav {
  font-size: $xsm-text;
  letter-spacing: .05em;
  text-transform: uppercase;
  font-weight: $font-weight-semibold;

  hr {
    width: 2em;
    float: left;
    background-color: lighten($dark-grey, 10);
  }

  a {
    color: $light-grey;
    text-decoration: none;
  }

  ul.main-nav { margin-top: -.85em; }

  li.nav-item {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    line-height: 1.5em;

    a {
      flex: 1;
      margin-left: 1em;
      padding: 1em 0;
      transition: color 180ms ease;
      border: none;
    }

    i {
      display: block;
      margin-top: -.1em;
    }

    &:hover a {
      color: $primary;
    }

    &.active a {
      color: $primary;
    }

    &[data-count]:after {
      content: attr(data-count);
      flex: 0;
      align-self: center;
      display: flex;
      justify-content: flex-end;
      color: darken($medium-grey, 30);
      transition: color 180ms ease;
    }

    &[data-count]:hover:after {
      color: $white;
    }

  }

  ul.main-nav {
    padding-bottom: 2em;
  }

  ul.secondary-nav {
    padding-top: 2.5em;
  }

}
